/* ================== Images ================== */
.thumbnails {
  display: flex;
  flex-wrap: wrap;
  font-size: 10px;
  list-style-type: none;
  @include center;
  padding: 0;
  @include mq($md-break){
    max-width: 1000px;
  }
  li {
    @include center;
    padding: 20px 15px;
  }
}